qrackpot.com, www.qrackpot.com {
	encode gzip zstd

	handle_path /clips/* {
		root * /mnt/data/sportscomm/files/logs/live_clips
		file_server browse
	}

	handle_path /server-logs/* {
		root * /var/log/sportscomm
		file_server browse
	}

	handle_path /scout/* {
		root * /mnt/data/sportscomm/files/logs/deliveries
		file_server browse
	}

	handle {
		reverse_proxy localhost:3000
	}
}

api.qrackpot.com {
	handle_path /comm-ws* {
		reverse_proxy localhost:8766 {
			flush_interval -1
		}
	}
	handle_path /ws* {
		reverse_proxy localhost:8765 {
			flush_interval -1
		}
	}
	handle {
		reverse_proxy localhost:8765 {
			flush_interval -1
		}
	}
}
