qrackpot.com, www.qrackpot.com {
	encode gzip zstd
	reverse_proxy localhost:3000
}

api.qrackpot.com {
	handle_path /comm-ws* {
		reverse_proxy localhost:8766 {
			flush_interval -1
		}
	}
	handle_path /ws* {
		reverse_proxy localhost:8765 {
			flush_interval -1
		}
	}
	handle {
		reverse_proxy localhost:8765 {
			flush_interval -1
		}
	}
}
